@font-face {
  font-family: 'Nekst';
  src: url('/public/fonts/Nekst/Nekst-Black.eot');
  src: local('Nekst Black'), local('Nekst-Black'),
    url('/public/fonts/Nekst/Nekst-Black.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/Nekst/Nekst-Black.woff2') format('woff2'),
    url('/public/fonts/Nekst/Nekst-Black.woff') format('woff'),
    url('/public/fonts/Nekst/Nekst-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/Gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('/public/fonts/Gilroy/Gilroy-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
    url('/public/fonts/Gilroy/Gilroy-Regular.woff') format('woff'),
    url('/public/fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
